# ignore everything
*

# exceptions:
!/.github/
!/.github/**

# /carla
!carla/
!carla/**
carla/carla-simulator

# /logs
!logs/
!logs/**
logs/realdata

# /openpilot
!openpilot/
!openpilot/**
openpilot/.openpilot_dev_env1.sh

# /setup
!setup/
!setup/**
setup/config

# /
!.editorconfig
!.gitattributes
!.gitignore
!.gitmodules
!.python-version
!LICENSE
!Pipfile
!Pipfile.lock
!poetry.lock
!pyproject.toml
!README.md
!start_all.sh
!todo.txt
