name: run setup
on:
  push:
  pull_request:

env:
  CACHE_VERSION: v1
  CARLA_VERSION: 0.9.13

  RUN: $GITHUB_WORKSPACE/setup/setup.sh --test-mode
  FREE_DISK_SPACE: |
    sudo rm -rf /usr/share/dotnet
    sudo rm -rf /opt/ghc
    sudo rm -rf "/usr/local/share/boost"
    sudo rm -rf "$AGENT_TOOLSDIRECTORY"

  INSTALL_CARLA_FROM_CACHE: sudo dpkg -i -- ~/carla-package/*.deb
  MOVE_CARLA_TO_CACHE: |
    mkdir -p ~/carla-package
    sudo find /var/cache/apt/archives -type f \( -name "carla*" -o -name "libtiff*" \) -exec sudo mv -t ~/carla-package {} \;

jobs:
  run_all:
    name: run all (twice)
    runs-on: ubuntu-20.04
    timeout-minutes: 60
    steps:
    - name: Free up disk space
      run: eval "$FREE_DISK_SPACE"
    - uses: actions/checkout@v3
      with:
        submodules: true
    - name: Declare openpilot commit-hash
      id: commit-hash
      run: echo "::set-output name=hash::$(read hash ref <<< $(git ls-remote https://github.com/jeroenlammersma/openpilot HEAD) && echo $hash)"
    - name: Cache openpilot
      id: cache-openpilot
      uses: actions/cache@v3
      with:
        path: ~/openpilot
        key: ${{ runner.os }}-cache-${{ env.CACHE_VERSION }}-openpilot-${{ steps.commit-hash.outputs.hash }}
    - name: Cache carla
      id: cache-carla
      uses: actions/cache@v3
      with:
        path: ~/carla-package
        key: ${{ runner.os }}-cache-${{ env.CACHE_VERSION }}-package-carla-${{ env.CARLA_VERSION }}
    - name: Install carla from cache
      if: steps.cache-carla.outputs.cache-hit == 'true'
      run: eval "$INSTALL_CARLA_FROM_CACHE"
    - name: Run setup with all flags (1st run)
      run: ${{ env.RUN }} --all
    - name: Reload .bashrc
      run: source ~/.bashrc
    - name: Run setup with all flags (2nd run)
      run: ${{ env.RUN }} --all
    - name: Move carla to cache
      if: steps.cache-carla.outputs.cache-hit != 'true'
      run: eval "$MOVE_CARLA_TO_CACHE"

  run_carla:
    name: run carla
    runs-on: ubuntu-20.04
    timeout-minutes: 30
    steps:
    - name: Free up disk space
      run: eval "$FREE_DISK_SPACE"
    - uses: actions/checkout@v3
    - name: Run setup with carla flag
      run: ${{ env.RUN }} --carla

  run_dev_env:
    name: run dev-env
    runs-on: ubuntu-20.04
    timeout-minutes: 15
    steps:
    - uses: actions/checkout@v3
    - name: Run setup with dev-env flag
      run: ${{ env.RUN }} --dev-env

  run_nvidia_driver:
    name: run nvidia driver
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v3
    - name: Run setup with nvidia-driver flag
      run: ${{ env.RUN }} --nvidia-driver

  run_openpilot:
    name: run openpilot
    runs-on: ubuntu-20.04
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v3
    - name: Declare openpilot commit-hash
      id: commit-hash
      run: echo "::set-output name=hash::$(read hash ref <<< $(git ls-remote https://github.com/jeroenlammersma/openpilot HEAD) && echo $hash)"
    - name: Cache openpilot
      id: cache-openpilot
      uses: actions/cache@v3
      with:
        path: ~/openpilot
        key: ${{ runner.os }}-cache-${{ env.CACHE_VERSION }}-openpilot-${{ steps.commit-hash.outputs.hash }}
    - name: Run setup with openpilot flag
      run: ${{ env.RUN }} --openpilot

  run_tools:
    name: run tools
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v3
    - name: Run setup with tools flag
      run: ${{ env.RUN }} --tools
